ENCRYPTION_KEY=my_super_secret_encryption_key_256
LINE_LIFF_CHANNEL_ID=YOUR_LIFF_CHANNEL_ID
LINE_USE_MOCK_AUTH=true
LINE_MOCK_USER_ID=mock-line-user-id
VITE_LIFF_ID=YOUR_LIFF_ID
VITE_USE_MOCK_LIFF=true
